<!DOCTYPE html>
<html>
	<head>
		<title>Demo app to learn NodeJS</title>
	</head>
	<body>
		<h1>Hello, World!!</h1>
		<h3>The following is a test paragraph</h3>
		<p>
			This is the paragraph the above header was talking about. Well, it is very exciting to learn the new JavaScript framework NodeJS
		</p>
	</body>
</html>